<%= form_for(@benutzer) do |f| %>
  <% if @benutzer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@benutzer.errors.count, "error") %> prohibited this benutzer from being saved:</h2>

      <ul>
      <% @benutzer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :pass %><br />
    <%= f.text_field :pass %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
