<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @benutzer.login %>
</p>

<p>
  <b>Pass:</b>
  <%= @benutzer.pass %>
</p>

<p>
  <b>Name:</b>
  <%= @benutzer.name %>
</p>


<%= link_to 'Edit', edit_benutzer_path(@benutzer) %> |
<%= link_to 'Back', benutzers_path %>
